

div.alert-waves
    div.container
        div.waves-address-wrap
            form
                span.waves-desc Адрес waves
                input(type="text"
                      class="input waves-input"
                      name="waves-address"
                      placeholder="Введите адрес waves для дальнейшей работы")
                buttion(type="submit").btn.waves-btn Готово
            div.waves-tip Ошибка. Проверьте правильность введенного вами адреса.

        div.waves-about
            a(href="" class="open-popup" data-name="waves") Что такое waves и где его взять

div.overlay.waves-overlay
