aside.aside-right
    div.panel-mini.statistics
        div.line Дней осталось:
            span 25
        div.line Текущий бонус:
            span 25%
            div.tooltip.tooltip-bonus
                div.tooltip-call.black
                div.tooltip-content
                   | Мы принимаем инвестиции в EMC с минимальной суммой в 1000 долларов на адрес EeLeckKqTRvbbyThGhvMYeVWhrCwYb6ev6. Пожалуйста, свяжитесь с нами с помощью emc@baner.su чтобы оформить заказ или получить ответы на вопросы.

    section.panel.panel-status
        div.panel-title Текущий статус
        div.panel-body.status-body
            div.invested-all
                div.title ИНВЕСТИРОВАНО (всего)
                ul.currency-list
                    li.currency-item.bnr 0 BTC
                    li.currency-item.usd 0 USD

            div.members
                div.title УЧАСТНИКИ
                span.count 0

