footer.main-footer
    p.copyright
        |© 2017 BANER. All rights reserved
    p.feedback
        |Возникли вопросы? Пожалуйста, свяжитесь с нами по support@baner.su<br>

    //- div.payment-list
    //-     img(src="img/footer/pay1.png")
    //-     img(src="img/footer/pay3.png")
    //-     img(src="img/footer/pay2.png")