// Header
header.main-header
    div.container
        img(src="img/logo.svg" class="logo")

        div.inner-action
            // lang
            div.dropdown-block.dropdown-lang
                a(data-toggle="dropdown" href="").select-lang Russian
                ul(data-toggle="dropdown-menu").dropdown-menu.dropdown-menu-lang
                    li.drop-item Russian
                    li.drop-item English
                    li.drop-item China

            // login
            div.dropdown-block.dropdown-user
                a(data-toggle="dropdown" href="").username admin@baner.com
                ul(data-toggle="dropdown-menu").dropdown-menu.dropdown-menu-user
                    li.drop-item Настройки
                    li.drop-item Выход

            // waves
            div.waves-view
                div.title Адрес BANER Waves
                    div.tooltip.tooltip-waves-header
                        div.tooltip-call.white
                        div.tooltip-content
                           | Это Waves адрес компании BANER выделенный персонально для вас. Именно его нужно использовать для покупки токенов. Другими словами, именно на него вы отправляете свои денежные средства из личного кабинета <a href="https://waveswallet.io/" target="_blank" class="link">https://waveswallet.io/</a>.

                div.address 3N9iRMou3pgmyPbFZn5QZQvBTQBkL2fR6R1
