nav.main-nav
    ul.nav-list
        li.nav-item
            a.nav-link(href="login.html") Вход
        li.nav-item
            a.nav-link(href="register.html") Регистрация
        li.nav-item
            a.nav-link(href="register-confirm.html") Успешная регистрация
        li.nav-item
            a.nav-link(href="password-email.html") Восстановление пароля
        li.nav-item
            a.nav-link(href="password-email-confirm.html") Подтверждение пароля
        li.nav-item
            a.nav-link(href="password-reset.html") Изменение пароля

        <br>
        <br>

        li.nav-item
            a.nav-link(href="index.html") Панель управления
        li.nav-item
            a.nav-link(href="history-start.html") Начало транзакций
        li.nav-item
            a.nav-link(href="history.html") История транзакций
        li.nav-item
            a.nav-link(href="address.html") Адрес аккаунта
        li.nav-item
            a.nav-link(href="sending.html") Отправить

        <br>
        <br>

        li.nav-item
            a.nav-link(href="settings.html") Настройки
        li.nav-item
            a.nav-link(href="settings-password.html") Настройки / пароль