div.overlay.popup-overlay
    div(data-name="waves").popup.popup-waves
        i.popup-close
        h2.pp-title Инструкция
        h3.pp-desc.pp-desc-invest Как получить адрес Waves?

        ul.pp-manual-list
            // Line
            li.pp-manual-item
                span Прежде чем получить доступ ко всему функционалу сайта, вам потребуется указать свой адрес кошелька Waves. Это займет 2 минуты вашего времени.

                div.pp-warrning
                    div.title Внимание!
                    p.desc Перед началом прохождения инструкции, убедитесь, что у вас выключено расширение Adblock или другое подобное. Иначе работоспособность сайта не гарантируется.

            // Line
            li.pp-manual-item
                span <b>1.</b> Перейдем на официальный сайт веб-клиента для кошелька Waves: <a href="https://waveswallet.io/" class="pp-link" target="_blank">https://waveswallet.io/</a>

                div.pp-warrning
                    div.title Внимание!
                    p.desc Обязательно сверяйте ссылку с той, что указана в нашей инструкции.

                img(src="./img/screen/sc-waves1.png" class="pp-img")


            // Line
            li.pp-manual-item
                span <b>2.</b> Регистрируем новый аккаунт в системе Waves. Для этого жмем на кнопку <b>NEW ACCOUNT</b>

                img(src="./img/screen/sc-waves2.png" class="pp-img")


            // Line
            li.pp-manual-item
                span <b>3.</b> Читаем текст уведомления и жмем на кнопку <b>I UNDERSTAND</b>.

                div.pp-warrning
                    div.title Внимание!
                    p.desc Читать уведомление обязательно, в нем важная информация для безопасности вашего аккаунта.

                img(src="./img/screen/sc-waves3.png" class="pp-img")


            // Line
            li.pp-manual-item
                span <b>4.</b> Записываем SEED, который был сгенерирован для вас. Удостоверьтесь, что верно переписали SEED.

                div.pp-warrning
                    div.title Внимание!
                    p.desc Настоятельно рекомендуем не копировать и не распространять SEED в пределах вашей файловой системы и Интернета. Самый надежный способ - записать SEED на физический листок бумаги (лучше несколько) и положить в безопасное место. Если вы все-таки храните SEED в электронном виде, храните его на носителе у которого нет доступа к Интернету. SEED не должен быть доступен третьим лицам.

                img(src="./img/screen/sc-waves4.png" class="pp-img")


            // Line
            li.pp-manual-item
                span <b>5.</b> Поле <b>NAME</b> опционально, его заполнение необязательно. Если вы собираетесь создавать много аккаунтов, рекомендуется заполнить это поле, для удобства, чтобы не путаться в адресах созданных аккаунтов.

                img(src="./img/screen/sc-waves5.png" class="pp-img")


            // Line
            li.pp-manual-item
                span <b>6.</b>. Придумываем и повторяем пароль. Пароль используется для шифрования вашего SEED и будет использован для входа в аккаунт.

                div.pp-warrning
                    div.title Внимание!
                    p.desc Пароль должен быть сложный, чтобы защитить вас от <a href="https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D0%BB%D0%BD%D1%8B%D0%B9_%D0%BF%D0%B5%D1%80%D0%B5%D0%B1%D0%BE%D1%80" class="pp-link" target="_blank">брутфорса</a>. Используйте пароли длиной не менее 12 символов для максимальной стойкости защиты к такой атаке. Например: M3mSH6aT7waG

                img(src="./img/screen/sc-waves6.png" class="pp-img")

            // Line
            li.pp-manual-item
                span <b>7.</b> Жмем кнопку <b>REGISTER</b>.

                img(src="./img/screen/sc-waves7.png" class="pp-img")

            // Line
            li.pp-manual-item
                span <b>8.</b> Регистрация завершена. В панеле управления аккаунтом вы можете скопировать свой адрес и использовать его для вставки в нашей системе для доступа ко всему функционалу.

                img(src="./img/screen/sc-waves8.png" class="pp-img")
