
// Цвета

$white: #fff;
$black: #000;
$black-0: #0e1824;

$blue_dark: #062e45;

$blue_0c: #0c4384;
$blue_35: #355263;
$blue_bc: #bcd1dd;

$gray_d4: #d4dbe0;

$gray_94: #949faf;

$gray_ed: #edeef0;
$gray_e3: #e3e4e8;
$gray_a9: #a9bdc9;
$gray_84: #848484;
$gray_97: #979797;
$gray_b6: #b6bcc1;
$gray_c1: #c1bfbf;

// Шрифты

$rbt: 'Roboto';