doctype html
html
    head
        include ../includes/head.pug
    body
        block register

        // Scripts
        block scripts
            script(src="js/libs/jquery.min.js")
            script(src="js/main.js")
