.panel-address {
    .address-body {
        padding-top: 40px;
        padding-bottom: 20px;

        .tip-title {
            margin-bottom: 10px;
            font-size: 12px;
            letter-spacing: 0.4px;
            color: #949faf;
        }

        .warrning-msg {
            margin-bottom: 30px;
            height: 72px;
            font-size: 17px;
            color: #ff5d71;
        }

        .appear-msg {
            margin-bottom: 17px;
            font-size: 17px;
            font-weight: bold;
            color: #0e1824;
        }

        .msg-reserve {
            margin-top: 150px;
            font-size: 14px;
            color: #b0b0b0;
        }
    }
}
