.panel-sending {
    .sending-body {
        padding-top: 102px;
        padding-bottom: 142px;
        text-align: center;

        .desc {
            font-size: 17px;
            color: rgba($blue_35, 0.6);
        }
    }
}