extends layout/layout-minimal.pug

block register
    // Register panel
    section.panel.panel-form
        h2.panel-title Восстановление пароля
            div.dropdown-block.dropdown-lang
                a(data-toggle="dropdown" href="").select-lang Russian
                ul(data-toggle="dropdown-menu").dropdown-menu.dropdown-menu-lang
                    li.drop-item Russian
                    li.drop-item English
                    li.drop-item China

        div.panel-body.panel-form-body
            form.form-email-password
                p.desc На вашу электронную почту будет отправлена инструкция по восстановлению пароля
                div.desc-confirm На ivan@ivanov.com отправлено письмо с инструкцией для восстановления пароля