extends layout/layout-minimal.pug

block register
    // Register panel
    section.panel.panel-form
        h2.panel-title Восстановление пароля
            div.dropdown-block.dropdown-lang
                a(data-toggle="dropdown" href="").select-lang Russian
                ul(data-toggle="dropdown-menu").dropdown-menu.dropdown-menu-lang
                    li.drop-item Russian
                    li.drop-item English
                    li.drop-item China

        div.panel-body.panel-form-body
            form.form-email-password
                p.desc На вашу электронную почту будет отправлена инструкция по восстановлению пароля
                div.form-line
                    label(class="label" for="email") Email
                    input(class="input" type="text" name="email" id="email" placeholder="Эл. почта" value="")

                button(type="submit" class="btn btn-block btn-form blue") Отправить

            a(class="link btn-prev" href="") Назад