extends layout/layout-minimal.pug

block register
    // Register panel
    section.panel.panel-form
        h2.panel-title Изменение пароля
            div.dropdown-block.dropdown-lang
                a(data-toggle="dropdown" href="").select-lang Russian
                ul(data-toggle="dropdown-menu").dropdown-menu.dropdown-menu-lang
                    li.drop-item Russian
                    li.drop-item English
                    li.drop-item China

        div.panel-body.panel-form-body
            form
                div.form-line
                    label(class="label" for="email") Email
                    input(class="input" type="text" name="email" id="email" placeholder="Эл. почта" value="")

                div.form-line
                    label(class="label" for="email") Repeat password
                    input(class="input" type="text" name="email" id="email" placeholder="Эл. почта" value="")

                button(class="btn btn-block btn-form blue" type="submit") Подтвердить