extends layout/layout.pug

block content
    // Content
    div.content-block
        div.content.content-md
            section.panel.panel-sending
                h2.panel-title Отправить
                div.panel-body.sending-body
                    p.desc Отправка будет доступна<br>после окончания ICO

        div.content.content-md
            // Footer
            include includes/footer.pug
