extends layout/layout.pug

block content
    // Content
    div.content-block
        div.content.content-center
            section.panel.panel-settings
                h2.panel-title Настройки
                div.panel-body.settings-body
                    div.set-line
                        div.new-pass-list
                            div.passline
                                div.set-name Старый пароль
                                input(type="text").input.set-input
                                a(href="settings.html").link.link-cancel Отмена
                            div.passline
                                div.set-name Новый пароль
                                input(type="text").input.set-input
                            div.passline
                                div.set-name Повторите пароль
                                input(type="text").input.set-input
                            div.passline
                                div.set-name
                                a(href="").btn.blue.btn-get-pass Изменить пароль
                    div.set-line
                        div.set-name Email
                        div.set-value admain@baner.com
                    div.set-line
                        div.set-name Номер телефона
                        div.set-value +7 (812) 111 22 33


        div.content.content-md
            // Footer
            include includes/footer.pug