.btn {
    display: inline-block;
    height: 45px;
    padding: 0 20px;
    font-size: 17px;
    border-radius: 4px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 45px;

    &.blue {
        color: $white;
        background-color: $blue_0c;
    }

    &.white {
        color: $blue_0c;
        border: solid 1px $blue_0c;
        background-color: transparent;
    }
}

.btn-block {
    display: block;
    width: 100%;
}
